* {
    
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    outline: none;
}
body{
    background-image:url(menubg.png);
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.new_game_button{
    width: 280px;
    height: 50px;
}